h5 {
  font-size: 45px;
}

.logo {
  height: 30vh;
  width: auto;
  margin: auto;
  display: block;


}


ion-title {
  padding-bottom: 20px;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ion-header, ion-toolbar {
  height: 35px;
}

.paragraph {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

ion-img {

}
