

.logo {
  height: 20vh;
  width: auto;
  margin: auto;
  display: block;


}


ion-title {
  padding-bottom: 20px;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ion-header, ion-toolbar {
  height: 28px;
}

.paragraph {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}



.header {
  max-height: 28px;
  max-width: 25px;

}

.title {
  max-width: fit-content;
  max-height: 100px;
  height: 80px;

}

